
@media screen and (max-width: 1000px) {
    header {
        flex-direction: column; /* Empilha logo e busca */
        justify-content: center;
        text-align: center;
        gap: 15px; /* Espaçamento entre logo e barra de busca */
    }

    h1 {
        font-size: 26px;
    }

    .container-busca {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container-busca input {
        width: 80%;
        max-width: 180px;
    }

    .container-categorias nav {
        gap: 12px;
        flex-wrap: nowrap;          /* impede quebra de linha */
        overflow-x: auto;           /* ativa o scroll horizontal */
        -webkit-overflow-scrolling: touch; /* rolagem suave em mobile */
        justify-content: flex-start;

        scroll-snap-type: x mandatory; /* snap no eixo X */
        scroll-padding: 12px; /* espaço pro primeiro botão não colar na borda */
    }

    .container-categorias nav::-webkit-scrollbar {
        display: none; /* opcional: esconder a barra de rolagem */
    }

    .container-categorias .botao-categorias {
        scroll-snap-align: start; /* cada botão “encaixa” ao parar */
    }

    footer {
        font-size: 13px;
    }
}